/*
960 Variable Grid System
 */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
	margin-right: 2.5%;
	float: left;
	min-height: 1px;
}
 
.row .onecol {
	width: 5.8333333333333%;
}

.row .twocol {
	width: 14.166666666667%;
}

.row .threecol {
	width: 22.5%;
}

.row .fourcol {
	width: 30.833333333333%;
}

.row .fivecol {
	width: 39.166666666667%;
}

.row .sixcol {
	width: 47.5%;
}

.row .sevencol {
	width: 55.833333333333%;
}

.row .eightcol {
	width: 64.166666666667%;
}

.row .ninecol {
	width: 72.5%;
}

.row .tencol {
	width: 80.833333333333%;
}

.row .elevencol	{
	width: 89.166666666667%;
}

.row .twelvecol	{
	width: 97.5%;
}

.last {
	margin-right: 0px;
}

.page_margins{
	width: 100%;
	min-width: 720px; 
	max-width: 960px; 
	margin: 0 auto;
	overflow: hidden;
}
.row {
	overflow:hidden;
}


/* Mobile */

@media handheld, only screen and (max-width: 721px) {
	
	.row, body, .page_margins {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}


}